<p id="notice"><%= notice %></p>

	<h1>Pickup List for <%= @pickup_list.client.name %></h1>
	<h3>Items</h3>
	<h4>Click an item to remove it.</h4>
	<% @pickup_list.products.each do |product| %>
		<a href="/picked_up/<%= @pickup_list.id %>/<%= product.id %>"><%= product.name %></a><br />
	<% end %>
	<br />
<div class="clearfix individualcontrols">	
<a href="/pickup_lists/<%= @pickup_list.id %>/edit/<%= @client.id %>">Edit</a>
<%= link_to 'Back', pickup_lists_path %>
</div>