<h1>Listing Donors</h1>

<p class="clearfix">
<% if can? :create, @donors %><%= link_to 'New Donor', new_donor_path %><% end %>
</p>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Phone</th>
<th>Email</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @donors.each do |donor| %>
<tr>
    <td><%= donor.name %></td>
    <td><%= donor.address %></td>
    <td><%= number_to_phone(donor.phone, :area_code => true) %></td>
    <td><%= link_to 'Email', 'mailto: ' + donor.email %></td>
    <td><%= link_to 'Show', donor %></td>
    
    <td><% if can? :update, @donors %> 
    <%= link_to 'Edit', edit_donor_path(donor) %>
    <% end %></td>
    
    <td><% if can? :destroy, @donors %> 
    <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %></td>
</tr>
<% end %>
</tbody>
</table>
