<h1>Listing Donors</h1>

<p class="clearfix">
<% if can? :create, @donors %><%= link_to 'New Donor', new_donor_path %><% end %>
</p>

<% @donors.each do |donor| %>
  <article class="productlist">
    <p><strong>Name:</strong> <%= donor.name %></p>
    <p><strong>Address:</strong> <%= donor.address %></p>
    <p><strong>Phone:</strong> <%= number_to_phone(donor.phone, :delimiter => ".") %></p>
    <p><strong>Email:</strong> <%= link_to 'Email', 'mailto: ' + donor.email %></p>
    <span><%= link_to 'Show', donor %><% if can? :update, @donors %> | 
    <%= link_to 'Edit', edit_donor_path(donor) %><% end %><% if can? :destroy, @donors %> | 
    <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></span>
  </article>
<% end %>