<h1>Listing Clients</h1>
<div class="clearfix">
<%= link_to 'New Client', new_client_path %>
</div>
<section>
<h2>Inventoried Items</h2>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>County</th>
<th>Phone</th>
<th>Email</th>
<th>Referring Agent</th>
<th># of Adults</th>
<th># of Children</th>
<th>History</th>
<th>Notes</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @clients.each do |client|%>
<tr>
	    <td><%= client.name %></td>

	    <td><% if client.address != "" %>
	    <%= client.address %>
		<% end %></td>

		<td><% if client.county != "" %>
	    <%= client.county %>
	    <% end %></td>

	    <td><%= number_to_phone(client.phone, :area_code => true) %></td>

	    <td><% if client.email != "" %>
	    <%= link_to "Email", 'mailto: ' + client.email %>
	    <% end %></td>
	    
	    <td><% if client.user_id != "" %>
	    <%= link_to client.user.name.to_s, 'mailto: ' + client.user.email %>
	    <% end %></td>

		<td><%= client.adults %></td>

		<td><%= client.children %></td>

	    <td><% if client.history != "" %>
		<%= truncate(client.history, :length => 50) %>
		<% end %></td>

	    <td><% if client.notes != "" %>
		<%= truncate(client.notes, :length => 50) %>
		<% end %></td>

	    <td><%= link_to 'Show', client %><% if can? :update, @clients %> </td>
	    <td><%= link_to 'Edit', edit_client_path(client) %><% end %><% if can? :destroy, @clients %> </td>
	    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
</tr>
<% end %>
</tbody>
</table>
</section>
