<h2>Clients</h2>
<%= link_to 'New Client', new_client_path, :class => 'btn btn-success' %>
<br />
<br />
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Phone</th>
<th>Email</th>
<th>Adults/Children</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @clients.each do |client|%>
<tr>
	    <td><%= link_to "#{client.name} #{client.lastname}", client %></td>

	    <td><% if client.address != "" %><%= client.address %><% end %></td>

	    <td><%= number_to_phone(client.phone, :area_code => true) %></td>

	    <td><% if client.email != "" %>
	    <%= link_to "Email", 'mailto: ' + client.email %>
	    <% end %></td>

	    <td><%= client.adults %>/<%= client.children %></td>

	    <td><%= link_to 'Show', client, :class => 'btn btn-info' %><% if can? :update, @clients %> </td>
	    <td><%= link_to 'Edit', edit_client_path(client), :class => 'btn btn-warning' %><% end %><% if can? :destroy, @clients %> </td>
	    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %> <% end %></td>
</tr>
<% end %>
</tbody>
</table>