<p id="notice"><%= notice %></p>

  <article class="productlist">
    <strong>Name</strong>
    <p><%= @client.name %></p>

	<% if @client.address != "" %>
    <strong>Address</strong>
    <p><%= @client.address %></p>
    <% end %>

	<% if @client.county  %>
    <strong>County</strong>
    <p><%= @client.county %></p>
    <% end %>

	<% if @client.phone != "" %>
    <strong>Phone</strong>
    <p><%= number_to_phone(@client.phone, :area_code => true) %></p>
	<% end %>
	
	<% if @client.email != "" %>
    	<strong>Email</strong>
    	<p><%= @client.email %></p>
    <% end %>

    <% if @client.user_id != "" %>
		<strong>Referring Agent</strong>
		<p><%= link_to @client.user.name.to_s, 'mailto: ' + @client.user.email %></p>
	<% end %>

    <strong>Adults</strong>
    <p><%= @client.adults %></p>

    <strong>Children</strong>
    <p><%= @client.children %></p>

    <% if @client.history != "" %>
	    <strong>History</strong>
	    <p><%= @client.history %></p>
	<% end %>
	
    <% if @client.notes != "" %>
	    <strong>Notes</strong>
	    <p><%= @client.notes %></p>
    <% end %>

  <div class="clearfix individualcontrols">
    <%= link_to 'Back', clients_path %><% if can? :update, @clients %>
    <%= link_to 'Edit', edit_client_path(@client) %><% end %><% if can? :destroy, @clients %>    <%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %><% end %><% if can? :create, @pickup_lists %>
    <a href="/pickup_lists/new/<%= @client.id %>">New List for <%= @client.name %></a>
<% end %><% if can? :create, @events %> <br />
    <a href="/events/new_with_client/<%= @client.id %>">New appointment for <%= @client.name %></a><% end %>
    <br />
    <a href="/pickup_lists/<%= @client.id %>">Existing List</a>
  </div>
  </article>
  
