<p id="notice"><%= notice %></p>

    <strong>Name</strong>
    <p><%= @client.name %><% if @client.lastname? %> <%= @client.lastname %><% end %></p>

	<% if @client.address != "" %>
    <strong>Address</strong>
    <p><%= @client.address %></p>
    <% end %>

	<% if @client.county  %>
    <strong>County</strong>
    <p><%= @client.county %></p>
    <% end %>

	<% if @client.phone != "" %>
    <strong>Phone</strong>
    <p><%= number_to_phone(@client.phone, :area_code => true) %></p>
	<% end %>
	
	<% if @client.email != "" %>
    	<strong>Email</strong>
    	<p><%= @client.email %></p>
    <% end %>

    <% if @client.user_id != "" %>
		<strong>Referring Agent</strong>
		<p><%= link_to @client.user.name.to_s, 'mailto: ' + @client.user.email %></p>
	<% end %>

    <strong>Adults</strong>
    <p><%= @client.adults %></p>

    <strong>Children</strong>
    <p><%= @client.children %></p>

    <% if @client.history != "" %>
	    <strong>History</strong>
	    <p><%= @client.history %></p>
	<% end %>
	
    <% if @client.notes != "" %>
	    <strong>Notes</strong>
	    <p><%= @client.notes %></p>
    <% end %>

    <%= link_to 'Back', clients_path, :class => "btn btn-inverse" %><% if can? :update, @clients %>
    <%= link_to 'Edit', edit_client_path(@client), :class => "btn btn-warning" %><% end %>
    <% if can? :destroy, @clients %><%= link_to 'Destroy', @client, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
<% if can? :create, @events %> 
    <a href="/events/new_with_client/<%= @client.id %>" class="btn btn-success">New appointment for <%= @client.name %></a><% end %>
    
<% if can? :create, @pickup_lists %>
    <% if @pickuplist.count == 0 %>
    <a href="/pickup_lists/new/<%= @client.id %>" class="btn btn-success">New List for <%= @client.name %></a>
    <% end %>
    <% if @pickuplist.exists? %>
    <a href="/pickup_lists/<%= @pickuplist.last.id %>" class="btn btn-primary">Existing List for <%= @client.name %></a>
    <% end %>
<% end %>
<% if can? :create, @wishlists %>
    <%# if @wishlist.count == 0 %>
    <a href="/wishlists/new/<%= @client.id %>" class="btn btn-success">New WishList for <%= @client.name %></a>
    <%# end %>
    <%# if @wishlist.exists? %>
    <a href="/wishlists/<%#= @wishlist.last.id %>" class="btn btn-primary">Existing WishList for <%= @client.name %></a>
    <%# end %>
<% end %>
