<% if user_signed_in? %>
	<h3>What's Happening Today?</h3>
	
	<table class="table table-bordered table-condensed table-striped table-hover">
		<thead>
			<tr>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
					<tr <% if event.filter == "Volunteer" %> class="success"
							<% elsif event.filter == "Appointment" %> class="warning"
							<% elsif event.filter == "Pick Up" %> class="info"
						<% end %>
						>
			    	<% if Date.today == event.expiration_date %>
						<% if event.start_time? %>
							<td><%= event.start_time.strftime("%l:%M %p") %></td><% else %><td>N/A</td><% end %>
						<% if event.end_time? %><td><%= event.end_time.strftime("%l:%M %p") %></td><% else %><td>N/A</td><% end %>
				    				    <td>
					    <%= link_to event.name, event %>
					</td>
					<% end %>
				 </tr>
			 <% end %>
</tbody>
</table>	    


			<% if can? :modify, @events %>
						    	<h3>Pick Ups Not Scheduled</h3>
						<table class="table table-bordered table-condensed table-striped table-hover">
						<thead>
						<tr>
						<th>Name</th>
						</tr>
						
						</thead>
						<tbody>
									    <% @events.each do |event| %>
										<tr class="info">
									    	<% if "Pick Up" == event.filter && event.end_time == "" %>
										    <td>
											    <%= link_to event.name, edit_event_path(event), :class => "btn btn-warning" %>
											</td>
									    <% end %>
										 </tr>
									    <% end %>
						</tbody>
						</table>	    
			<% end %>

						<caption>Color Codes: <span class="text-success">Volunteers</span> | <span class="text-warning">Appointments</span> | <span class="text-info">Pick Ups</span></caption><br/><br/>
				<%= link_to "View Inventory Items", products_path %>
<% else %>
			<h3>Welcome To New Digs</h3>
			<p>In order to proceed you'll need to <%= link_to 'Sign In', new_user_session_path %> to your existing account or <%= link_to 'Create', new_user_registration_path %> a new account.</p>
<% end %>
