<h1>Calendar of Events</h1>
<% if can? :create, @events %><p><%= link_to "New Entry", new_event_path, :class => 'btn btn-success' %></p><% end %>    
<div class="btn-group">
    <a class="btn btn-primary" href="#">Filter</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
    	<li><a href="/events/filter/Volunteer">Volunteers</a></li>
    	<li><a href="/events/filter/Appointment">Appointments</a></li>
    	<li><a href="/events/filter/Pick Up">Pick Up</a></li>
    	<li class="divider"></li>
    	<li><a href="/events/filter/Client Delivery">Client Delivery</a></li>
    	<li class="divider"></li>
    	<li><a href="/events/filter/Misc">Misc.</a></li>
    </ul>
</div>

<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %><br /><br />
    <% if @expiration_date[date] %>
          <%= link_to "#{@expiration_date[date].count} Event(s) Occurring Today.", :controller => 'events', :action => 'day', :date => date %>
    <% end %>
  <% end %>
</div>