<h1>Calendar of Events</h1>
<% if can? :create, @events %><p><%= link_to "New Entry", new_event_path %></p><% end %>

<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %><br /><br />
    <% if @expiration_date[date] %>
          <%= link_to "#{@expiration_date[date].count} Event(s) Occurring Today.", :controller => 'events', :action => 'day', :date => date %>
    <% end %>
  <% end %>
</div>