<h1<% if @event.filter == "Volunteer" %> class="text-success"
							<% elsif @event.filter == "Appointment" %> class="text-warning"
							<% elsif @event.filter == "Pick Up" %> class="text-info"
						<% end %>><%= @event.name %></h1>

<p class="info">Published on: <%= @event.published_on.strftime("%B %e, %Y") %></p>

<% if @event.expiration_date? %>
<p>Expiration Date: <%= @event.expiration_date.strftime("%B %e, %Y") %></p>
<% end %>

<% if @event.start_time? %>
<p>Starts at: <%= @event.start_time.strftime("%l:%M %p") %></p>
<% end %>

<% if @event.end_time? %>
<p>Ends at: <%= @event.end_time.strftime("%l:%M %p") %></p>
<% end %>

<% if @event.filter? %>
<p>Type of Event: <%= @event.filter %></p>
<% end %>


<blockquote>
<%= simple_format @event.content %>
</blockquote>
<% if can? :update, @event %>  <%= link_to "Edit Entry", edit_event_path(@event), :class => "btn btn-warning" %> <% end %>
  <%= link_to "Back to Calendar", events_path, :class => "btn btn-inverse" %>
  <a href="/events/day/<%= @event.expiration_date.strftime("%Y-%m-%e") %>" class="btn btn-inverse">Back to Day</a>
