<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Value - A" %><br />
    <%= f.text_field :price_a %>
  </div>
  
  <div class="field">
    <%= f.label "Value - B" %><br />
    <%= f.text_field :price_b %>
  </div>
  
  <div class="field">
    <%= f.label "Value - C" %><br />
    <%= f.text_field :price_c %>
  </div>
  
  <div class="field">
    <%= f.label :wishlist %><br />
	<%= f.label "Yes" %><%= f.radio_button :wishlist, true %><br />
	<%= f.label "No" %><%= f.radio_button :wishlist, false %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
