<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<p>
  <b>Wishlist?</b>
  <%= @category.wishlist %>
</p>
<p>
  <b>Price A:</b>
  <%= @category.price_a %>
</p>
<p>
  <b>Price B:</b>
  <%= @category.price_b %>
</p>
<p>
  <b>Price C:</b>
  <%= @category.price_c %>
</p>

<%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-warning" %>
<%= link_to 'Back', categories_path, :class => "btn btn-inverse" %>
