<%= form_for(@wishlist) do |f| %>
  <% if @wishlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wishlist.errors.count, "error") %> prohibited this WishList from being saved:</h2>

      <ul>
      <% @wishlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :client_id %>

  <div class="field">
  <ul>
  	<% @category.each do |c| %>
  		<% Product.where(:category_id => c.id).order(:category_id).each do |product| %>
	  		<li class="checklist">
	  		<% 
	  		inlist = false
	  		if WishListItem.where(:product_id => product.id).where(:wishlist_id => @wishlist.id).count > 0
	  			inlist = true
	  		end
	  		%>
	  		<%= check_box_tag "product_id[]", product.id, inlist %> <%= h product.name %></li>
  		<% end %>
	  <% end %>
  </ul>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Save Wishlist", :class => "btn"%>
  </div>
<% end %>
