<h3>Inventory</h3>
	    <% if can? :create, @products %> 
			<%= link_to 'Add Product To Inventory', new_product_path, :class => 'btn btn-success' %>
		<% end %>	
<section>
<br/>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Quality/Value</th>
<th>Location</th>
<th>Notes</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @products.each do |product|%>
<tr>
<td><%= link_to "(#{product.category.name}) #{product.name}", product %></td>
<%
	if product.quality == "a"
		val = product.category.price_a
	elsif product.quality == "b"
		val = product.category.price_b
	elsif product.quality == "c"
		val = product.category.price_c
	end
%>
<td><%= product.quality.capitalize %> - <%= number_to_currency(val) %></td>
<td><%= product.location %></td>
<td></td>
<td><%= link_to 'Show', product, :class => 'btn btn-info' %></td>
<td><% if can? :update, @products %> 
		    <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-warning' %>
	    <% end %></td>
<td><% if can? :destroy, @products %> 
		    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
		<% end %></td>
</tr>
<% end %>
</tbody>
</table>
</section>
<section>
<h4>Non-Inventoried Items</h4>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Inventoried?</th>
<th>Accepted?</th>
<th>Reason</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @products2.each do |product2|%>
<tr>
<td>(<%= product2.category.name %>) <%= product2.name %></td>
<td><% if product2.inventory == false %>No<% else %>Yes<% end %></td>
<td><% if product2.accepted == false %>No<% else %>Yes<% end %></td>
<td><% if product2.accepted == false %><%= truncate(product2.reason, :length => 30 ) %><% end %></td>
<td><%= link_to 'Show', product2, :class => 'btn btn-info' %></td>
<td><% if can? :update, @products %> 
		    <%= link_to 'Edit', edit_product_path(product2), :class => 'btn btn-warning' %>
	    <% end %></td>
<td><% if can? :destroy, @products %> 
		    <%= link_to 'Destroy', product2, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
		<% end %></td>
</tr>
<% end %>
</tbody>
</table>
</section>