<h1>Listing Inventory</h1>
	    <% if can? :create, @products %> 
			<%= link_to 'New Product', new_product_path %>
		<% end %>	
<section>
<h2>Inventoried Items</h2>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Inventoried?</th>
<th>Category</th>
<th>Accepted?</th>
<th>Reason</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @products.each do |product|%>
<tr>
<td><%= product.name %></td>
<td><% if product.inventory == false %>No<% else %>Yes<% end %></td>
<td><% if !product.category_id == "" %>
		<%= product.category.name %>
	<% end %>
</td>
<td><% if product.accepted == false %>No<% else %>Yes<% end %></td>
<td><% if product.accepted == false %><%= truncate(product.reason, :length => 30 ) %><% end %></td>
<td><%= link_to 'Show', product %></td>
<td><% if can? :update, @products %> 
		    <%= link_to 'Edit', edit_product_path(product) %>
	    <% end %></td>
<td><% if can? :destroy, @products %> 
		    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %></td>
</tr>
<% end %>
</tbody>
</table>
</section>
<section>
<h2>Non-Inventoried Items</h2>
<table class="table table-bordered table-condensed table-striped table-hover">
<thead>
<tr>
<th>Name</th>
<th>Inventoried?</th>
<th>Category</th>
<th>Accepted?</th>
<th>Reason</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @products2.each do |product2|%>
<tr>
<td><%= product2.name %></td>
<td><% if product2.inventory == false %>No<% else %>Yes<% end %></td>
<td><% if !product2.category_id == "" %>
		<%= product2.category.name %>
	<% end %>
</td>
<td><% if product2.accepted == false %>No<% else %>Yes<% end %></td>
<td><% if product2.accepted == false %><%= truncate(product2.reason, :length => 30 ) %><% end %></td>
<td><%= link_to 'Show', product2 %></td>
<td><% if can? :update, @products %> 
		    <%= link_to 'Edit', edit_product_path(product2) %>
	    <% end %></td>
<td><% if can? :destroy, @products %> 
		    <%= link_to 'Destroy', product2, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %></td>
</tr>
<% end %>
</tbody>
</table>
</section>

<br />
<div class="clearfix">
<a href="/">Home</a> | 
<a href="/events">Events</a>
</div>